@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
    <div class="landing-page">
        <MudPaper Class="landing-overlay" Elevation="0" Width="100%" MinHeight="100vh">
            @Body
        </MudPaper>
    </div>

